.About {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 2rem;
}
/* LeftSide */
.a-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-card {
  width: 100%;
  height: 60vh;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10rem 10rem 10rem 5rem;
}

/* RightSide */
.a-right {
  flex: 1;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AboutIcon {
  display: flex;
  flex-direction: flex;
  justify-content: space-evenly;
}
.icon-size {
  width: 25px;
  height: 25px;
}
.iconAward,
.iconWorks,
.iconPer {
  width: 140px;
  height: 140px;
  padding: 5px;
  border-radius: 2rem;
  background-color: rgb(55, 47, 47);
  color: #fff;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  outline: 4px solid rgba(181, 177, 177, 0.694);
}
.iconAward:hover,
.iconWorks:hover,
.iconPer:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.AboutText {
  max-width: 550px;
  margin: 1.5rem auto 1rem auto;
  letter-spacing: 2px;
}
.textSize {
  /* font-weight: 100; */
  /* font-size: 1px; */
}
span {
  color: rgb(252, 195, 72);
  font-size: 17px;
}
.btn-contact {
  display: flex;
  justify-content: center;
}
.Talk-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.Talk-btn:hover {
  background-color: rgb(55, 47, 47);
  color: #fff;
}

@media screen and (max-width: 960px) {
  .About {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .a-card {
    width: 100%;
    height: 50vh;
  }
  .a-left {
    margin: -3rem 1rem 1rem 1rem;
  }
  .a-right {
    padding: 0;
    margin: 0 1rem;
  }
  .textSize {
    font-size: 0.1rem;
    font-weight: 100;
  }
  .AboutText {
    width: 100%;
    font-size: 0.1rem;
    margin: 1.5rem auto 1rem auto;
  }
  .iconAward,
  .iconWorks,
  .iconPer {
    padding: 5px;
    width: 110px;
    height: 110px;
    outline: 3px solid rgba(181, 177, 177, 0.694);
  }

  .AboutText > h6 {
    font-size: 0.5rem;
  }
}
