.About {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 2rem;
  overflow: none !important;
}
/* LeftSide */
.a-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-card {
  width: 100%;
  height: 60vh;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10rem 10rem 10rem 5rem;
}

/* RightSide */
.a-right {
  flex: 1;
  height: 40vh;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
}

.AboutIcon {
  display: flex;
  align-items: center;
  height: 180px;
}

.icon-size {
  width: 10px;
  height: 1px;
}
.iconAward,
.iconWorks,
.iconPer {
  width: 140px;
  height: 140px;
  border-radius: 2rem;
  background-color: rgb(55, 47, 47);
  color: #fff;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  outline: 5px solid rgb(217, 226, 217);
}
.iconAward:hover,
.iconWorks:hover,
.iconPer:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.textSize {
  font-size: 5px;
  font-weight: 100;
}
.textSizeTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}
.AboutText {
  margin: 0 auto;
  max-width: 733px;
  letter-spacing: 2px;
  text-align: center;
}

span {
  color: rgb(252, 195, 72);
  font-size: 17px;
}
.btn-contact {
  display: flex;
  justify-content: center;
}
.Talk-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.Talk-btn:hover {
  background-color: rgb(55, 47, 47);
  color: #fff;
}

@media screen and (max-width: 960px) {
  .About {
    display: inline-block;
    height: 90%;
    padding: 0;
    margin: 1rem 1rem 1rem 1rem;
  }
  .a-card {
    width: 100%;
    height: 45vh;
  }

  .a-right {
    margin: 0;
    padding: 0;
  }

  .iconAward,
  .iconWorks,
  .iconPer {
    width: 110px;
    height: 110px;
  }
  .iconAward:hover,
  .iconWorks:hover,
  .iconPer:hover {
    transform: scale(1);
    transition: 0.5s;
  }

  .AboutText > h6 {
    font-size: 0.5rem;
  }
  .btn-contact {
    margin-top: 1rem;
  }
}
