.CardPage {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 10rem 0;
}
.CardBoxPage {
  width: 100%;
  flex: 1;
  height: 50vh;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.CardBrowserPage {
  height: 20px;
  background-color: rgb(141, 137, 137);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
}
.circlePage {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}
.CardImgPage {
  width: 100%;
  object-fit: contain;
  transition: all 3s ease-in;
}

.CardBoxPage:hover .CardImgPage {
  transform: translateY(-100%);
  transition: all 15s 0.5s;
  /* hover時照片往Ｙ上方跑 */
}

.CardText {
  flex: 1;
  padding: 1rem 3rem;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
  background-color: rgb(141, 137, 137);
}
.CardTitle {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.CardDescribe {
  font-weight: 100;
  color: rgba(223, 215, 215, 0.945);
}

@media screen and (max-width: 960px) {
  .CardPage {
    display: block;
    margin: 2rem 0 1rem 0;
  }
  .CardText {
    border-radius: 0 0 10px 10px;
    padding: 0 5px;
  }
  .CardTitle {
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
  }
  .CardDescribe {
    font-size: 0.5rem;
    padding-bottom: 2rem;
    margin: auto;
  }
  .CardBoxPage {
    height: 50vh;
  }
}
