.CollectionCardPage {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.CollectPageText {
  width: 100%;
  margin-top: 20rem;
  color: rgb(55, 47, 47);
}
.CollectPageText > h1 {
  margin: 0;
}
.CollectionCards {
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .CollectPageText {
    margin-top: 8rem;
  }
}
