.Collection {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 47, 47);
}
.CollectText {
  margin-top: 3rem;
  color: rgba(255, 255, 255, 0.89);
}
.CollectionCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}