.main-context {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
/* 左區 */
.left-intro {
  flex: 2;
  height: 80vh;
}
.i-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* 右區 */
.right-intro {
  flex: 1;
}
.right-intro > h2 {
  font-weight: 200;
}
.auto-title {
  width: 100%;
  overflow: hidden;
}
.title-wrapper {
  width: 100%;
  height: 75px;
  animation: move 6s ease-in-out infinite alternate;
}
.title-item {
  color: rgb(28, 223, 213);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* 自動換字 */
@keyframes move {
  50% {
    transform: translateY(-75px);
  }
  100% {
    transform: translateY(-150px);
  }
}
/* RWD */

@media screen and (max-width: 575px) {
  @keyframes move {
    33.33% {
      transform: translateY(-35px);
    }
    66.67% {
      transform: translateY(-70px);
    }
    100% {
      transform: translateY(-105px);
    }
  }
  .title-wrapper {
    width: 100%;
    height: 40px;
    animation: move 6s ease-in-out infinite alternate;
  }
  .right-intro > h2 {
    font-size: 20px;
  }
  .title-item {
    font-size: 1.5rem;
  }
} ;
