.navbar {
  display: flex;
  background-color: rgb(55, 47, 47);
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(55, 47, 47) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    #00000012 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  position: sticky;
  top: 0;
  z-index: 3;
  overflow:visible !important;
}

.navbar > a {
  text-decoration: none;
}

.logo {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  padding-left: 2rem;
}
.logo > h3 {
  background: -webkit-linear-gradient(30deg, #ffea35 12%, #03f4ac 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.nav-link {
  background: -webkit-linear-gradient(60deg, #35e1ff 12%, #f6f46f 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::after {
  display: block;
  content: "";
  border-bottom: solid 3px #c2edf3;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-link:hover::after {
  transform: scaleX(1);
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: end;
  margin: auto 0;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .logo {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
    height: 80vh;
    position: absolute;
    left: -100%;
    top: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .nav-menu.active {
    display: flex;
    padding: 2rem;
    background: rgba(55, 47, 47, 0.89);
    outline: 1px solid #fff;
    border-radius: 2rem;
    left: 0;
    top: 100%;
    opacity: 1;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%);
    font-size: 25px;
    cursor: pointer;
  }
}
