.Skills {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(55, 47, 47);
}
.SkillsText {
  margin: 3rem auto;
  color: rgba(255, 255, 255, 0.89);
}

.tools {
  width: 500px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.89);
  margin: 1.5rem;
  padding: 1rem;
}
.tools > span {
  color: rgb(55, 47, 47);
  margin: 0 10px 0 0;
}

.toolsLeft {
  margin-right: 10rem;
  border: 5px solid rgba(255, 255, 255, 0.89);
  border-radius: 10px 30px 30px 10px;
}
.toolsLeft:hover {
  color: #000;
  background-color: rgb(255, 226, 5);
  transform: rotateZ(-5deg) !important;
  transition: all 1s !important;
}
.toolsRight {
  margin-left: 10rem;
  border: 5px solid rgba(255, 255, 255, 0.89);
  border-radius: 30px 10px 10px 30px;
}
.toolsRight:hover {
  color: #000;
  background-color: rgb(172, 255, 5);
  transform: rotateZ(5deg) !important;
  transition: all 1s !important;
}

@media screen and (max-width: 960px) {
  .SkillsText {
    margin: 1.5rem auto;
  }
  .tools {
    width: 300px;
  }
  .toolsLeft {
    margin: 1rem 0;
    border-radius: 30px;
  }
  .toolsRight {
    margin: 1rem 0;
    border-radius: 30px;
  }
}
