* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mochiy Pop P One", sans-serif;
  overflow: hidden;
  /* 兩條垂直軸 */
}
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
